@import "tailwindcss";

*{
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
}

html {
  scroll-behavior: smooth; 
}

/* ==========  Animación de flotado mano ===========*/


@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animacion-flotar {
  animation: float 5s ease-in-out infinite;
}
/* ====================Animación planes megas stats.jsx ========================================*/
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-1 * var(--marquee-width)));
  }
}

.marquee-track {
  animation: marquee 20s linear infinite;
  will-change: transform;
}

/* Pausa por hover (solo desktop real) */
@media (hover: hover) {
  .marquee-container:hover .marquee-track {
    animation-play-state: paused;
  }
}

/* Pausa por tap (mobile) */
.marquee-track.is-paused {
  animation-play-state: paused;
}

/* ======== Mobile más lento ======== */
@media (max-width: 768px) {
  .marquee-track {
    animation-duration: 30s;
  }
}

/*====== Accesibilidad ======= */
@media (prefers-reduced-motion: reduce) {
  .marquee-track {
    animation: none;
  }
}

/* ====================ANIMACION PIXELES DE TARJETAS  ============================================*/
@keyframes dot-wave {
  0% {
    background-size: 6px 6px;
    opacity: 0.25;
  }
  50% {
    background-size: 14px 14px;
    opacity: 0.7;
  }
  100% {
    background-size: 16px 16px;
    opacity: 0.9;
  }
}

